@font-face{
    font-family: "Poke";
    src: url("font.ttf") format("truetype");
}

body{
    background-image: url("crop.jpg");
    font-family: Poke;
    font-size: 30px;
    text-align: center;
}

h3{
    font-family: 'Malgun Gothic';
}